*,
*:before,
*:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

html,
body {
    background: $background;
    height: 100%;
}

#content {
    text-align: center;
}

button.destroy {
    background: none;
    border: none;
    color: red;
    font-size: 0.8rem;
    margin-left: 1rem;
    vertical-align: top;
}

iframe {
    border: solid #000000 1px;
}